tqdm==4.66.5
google-cloud==0.34.0
google-cloud-bigquery==3.25.0
google-cloud-logging==3.11.2
google-cloud-pubsub==2.23.0
google-cloud-storage==2.18.2
pandas-gbq==0.23.1
dask==2024.8.2
dask-expr==1.1.12
hyperopt==0.2.7
matplotlib==3.9.2
numpy==2.0.2
pandas==2.2.2
pathlib==1.0.1
pytest==8.3.2
cython==3.0.11
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
shap==0.46.0
statsmodels==0.14.2
xgboost==2.1.1
pyyaml==6.0.2
pymongo==4.8.0
types-PyYAML==6.0.12.20240808
lightgbm==4.5.0
